extends layout
block content
	.container
		.row
			.col-lg-4
			.col-lg-4
				br
				br
				fieldset
					legend Reset password
					if msg
						label.alert.alert-danger #{msg}
					if errors
						ul.errors
							each error,i in errors
								li.alert.alert-danger #{error.msg}
					form(method='post',action='/forgot_password/change_password')
							input(type='hidden',name='_csrf',value=csrfToken)
							.form-group
								sup *
								label Username/Email
								input.form-control(type='text',name='username_email',placeholder='Your username or email',autofocus='true',required='true',value=(!username_email ? '' : '#{username_email}'))
							.form-group
								sup *
								label New password
								input.form-control(type='password',name='password',placeholder='Your new password',required='true')
							.form-group
								sup *
								label Confirm password
								input.form-control(type='password',name='confirm_password',placeholder='Retype password',required='true')
							button.btn.btn-success(type='submit') Reset password
