extends layout

block content
  .container
    .jumbotron
      h1 Naijabetbox
    .row
      .col-lg-4
        h1 About us 897907890
        p Naijabetbox.com is owned and managed by Divinelinks Media (A Division of Evatel Media Concept) which is a registered business   under the auspices of Corporate Affairs Commission of the Federal Republic of Nigeria.
        We have a wide experience in media and bookmaking services; and our partners include Evatel Media, Nairabet.com, Bet9ja.com, Surebet247.com, Merrybet.com, etc
      .col-lg-4
        h1 How it works
        p Naijabetbox.com is an online web platform that enables online stakers to fund their online betting accounts with their Naijabetbox Account, at 2.5% deposit discount of every amount deposited.
        Using Naijabetbox.com as your online bet funder rewards you with extra 2.5% of every deposit made into your online account instantly. Our services runs for 24hrs daily; and our customer carelines are always open to render services to customers.
        Our services coverage includes Nairabet.com, Bet9ja.com, Surebet247.com, Merrybet.com, Supabet.com.ng, etc.
        Our minimum deposit is N1,000 while maximum deposit is N2,000,000
      .col-lg-4
        h1 How to fund Your account
        p You can fund your Naijabetbox.com account using any of the following methods:
          ul
            li Direct Bank Deposit
            li Mobile and Online Transfers
          Always make your payment into any of our dedicated bank accounts using your name as your depositor’s name; after which your Naijabetbox.com account would be credited instantly with 2.5% bonus.
          You can use this credit in your Naijabetbox.com account to fund Nairabet, Bet9ja, Surebet247, and Merrybet online account anytime with our 24hrs services.
          For more enquiries kindly call: 09054030098, 08036019475, 08077076354
          Email: evatelmedia@gmail.com
