body {
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
      background-color: #2b3e50;
      color: #ebebeb;
      margin-top: 70px;
}
nav.navbar.navbar-inverse.navbar-fixed-top{
	background-color: black;
}
nav.navbar.navbar-inverse.navbar-fixed-top div.container div#navbar ul.nav.navbar-nav li.active a{
	color: green;
}
table.table.table-bordered tbody tr a {
	color: orange;
}
table.table.table-bordered tbody tr{
	color: black;
}
#ulUserRequest{
	display: none;
}
a.admin_logout{
	float:right;
	margin-bottom: 20px;
}
sup{
	color: red;
}
h1,h2,h3,h4,h5,h6,legend{
	color: orange;
}
div.login{
	float:right;
	margin-top: 10px;
}
div.logout{
	float:right;
	margin-top: 10px
}
div.login a{
	margin-right: 10px;
	margin-bottom: 10px;
}
div.login a.forgot-password{
	color: white;
	margin-top:40px;
	text-decoration: none;
}
div.login a.register{
	color: red;
}
.login-errors{
	color: red;
}

a {
  color: #00B7FF;
}
.logo{
	margin-right: 50px;
	width: 100px;
	height: 50px;
}

nav div.container div#navbar ul.nav.navbar-nav li.sign-in-up{
	float: right;
}
.container .jumbotron    { 
	border-radius:40px; 
	    padding: 30px;
    margin-bottom: 30px;
    color: orange;
    background-color: #4e5d6c;
}
footer{
	margin-top: 100px;
}
footer h4{
	color: orange;
}
footer li{
	color: white;
}
h1{
	color: orange;
}
.container .row .col-lg-4 h1{
	text-align: center;
}
.copyright{
	margin-top: 50px;
}
.contact{
	background-color: gray;
	margin-top: 100px;
}
.user-info{
	float: right;
	margin-top: 0px;
}
.user-info a{
	color: orange;
}
table.table.table-bordered.table-striped{
	text-align: center;
}
table.table.table-bordered.table-striped thead tr th{
	text-align: center;
}
form.search{
	float: right;
	margin-bottom: 10px;
}